body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1a8e2d;;
    color: #fff;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.button-container {
    margin: 40px auto;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #1a8e2d;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0c4716;
}
